* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-image: url(3.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .signup-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color:  #e47f7f;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signup-container h2 {
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .signup-form label {
    display: block;
    margin: 1rem 0 0.5rem;
    color: #555;
    text-align: left;
  }
  
  .signup-form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
  .signup-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .signup-form button:hover {
    background-color: #45a049;
  }
  
  .signup-container p {
    margin-top: 1rem;
    color: #000000;
  }
  
  .signup-container a {
    color: #0f0cbb;
    text-decoration: none;
  }
  
  .signup-container a:hover {
    text-decoration: underline;
  }
  